body {
  background-color: #212529;
}

.urgency-section {
  margin-top: 0;
}

.support-section {
  background-color: #212529;
}

.next-level {
  background-color: #212529;
}

.card {
  border: none;
}

.card-body {
  background-color: #212529;
}

.card-text {
  color: white;
  background-color: #212529;
}